.contact-container{
    /* width: 100vw; */
    /* height: 100vh; */
}
.contact-container{
    display: flex;
    justify-content: space-between;
    margin: 8rem 4rem;
    gap: 9rem;
    flex-wrap: wrap;

}
.cont-map{
    margin-top: 3rem;
    width: 40vw;
    height: 40vh;
    flex: 1 1 25rem;
    border: 0.4rem solid;
    border-color: #774e99;
    border-color: linear-gradient(90deg, #854cb4,#a070d6 );

}
.cont-map h1{
    font-size: 4rem;
    color: #4f286e;
}
.contactForm{
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column; 
    width: 40vw;
}
.contactForm h1{
    padding-bottom: 1rem;
    font-size: 3rem;
    color: #4f286e;
}
.iframe-map p{
    padding: 0.5rem;
    color: #0000009c;
}
.iframe-map h1{
    padding-bottom: 2rem;
    font-size: 3rem;
    color: #4f286e;
}
.input-field{
    border: none;
    background-color: #f5eeff71;
    border-radius: 1rem;
    width: 100%;
    padding: 1rem ;
    margin-bottom: 1rem;
}
.text-field{
    border: none;
    background-color: #f5eeff71;
    height: 30vh;
    border-radius: 1rem;

    width: 100%;
    border-color: wheat;
    padding: 1rem ;
}
.text-field, .input-field:focus{
    outline: none;
}
.btn-contact{
    padding: 14px 32px;
    width: fit-content;
    border: none;
    border-radius: 1rem;
    color: white;
    margin: 1rem 1rem;
    margin-top: 3rem;
  background: linear-gradient(90deg, #854cb4,#a070d6 );
  /* background-color: rgb(39, 39, 39); */
    cursor: pointer;
}
@media  (max-width: 700px) {
    .contact-container{
        margin: 8rem 1.5rem;
   
    }
}
@media  (max-width: 540px) {
    .cont-map{
        margin-top: 3rem;
        width: 80vw;
        height: 40vh;
        flex: 1 1 25rem;
        border: 0.4rem solid;
        border-color: #774e99;
        border-color: linear-gradient(90deg, #854cb4,#a070d6 );
    
    }
   
  }


