@font-face {
  font-family: 'newfont';
  src:url(../../fonts/JosefinSans-VariableFont_wght.ttf) 
}  
.nav-container{
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(90deg, #673AB7, #512DA8);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 0;
  z-index: 10;
  position:fixed;
}
.esam-logo{
 height: 45px;
 margin-top: 1rem;
 margin-left: 8rem;
}
li{
  /* color: #55379b; */
  color: rgba(255, 255, 255, 0.671);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 2rem;
  font-family: 'newfont';
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  height: 100%;
  cursor: pointer;
  list-style:none;
}
nav a{
  text-decoration: none;
  color: white;
}
li:hover{
  color: white;
}
.links-list nav{
  padding-top: 1.3rem;
  display: flex;
  align-items: center;
  margin-right: 10rem;
}
.signInBtn{
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.nav-sign-btn{
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.menu-bar{
  color:white;
  width: 3rem;
  height: 35px;
 margin-top: 1rem;
 margin-right: 1rem;
 display: none;
 /* padding-right: 8rem; */
}
.show-links nav li{
  
}

@media  (max-width: 1024px) {
  .esam-logo{
    margin-left: 4rem;
   }
   .links-list{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    padding-right: 5rem;
  }
}

@media  (max-width: 1200px) {
 
}
@media  (max-width: 1024px) {
  .esam-logo{
    margin-left: 2rem;
   }
  .links-list{
    position: absolute;
    top:75px;
    right: 0px;
    width: 100%;
    height: calc(100vh-75px);
    height: 95vh;
    margin-right: -1000px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #522da891;
    backdrop-filter: blur(15px);
    flex-direction: column;
    /* transition: all 0.5s cubic-bezier(1,0,1,0); */
    transition: all 0.5s ease-in-out;

  }
  .links-list nav{
    margin: 0 auto;
padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links-list nav li{
    padding: 1rem;
    color: #512DA8;
    color: white;
  }
  .menu-bar{
    display: block;
  }
  .show-links{
    position: fixed;
    margin-right:0px ;
    /* transition: all 2s cubic-bezier(1,0,1,0); */
    transition: all 0.5s ease-in-out;


}
}

@media  (max-width: 900px) {

}
@media  (max-width: 786px) {
 
}
@media  (max-width: 480px) {
 
}
@media  (max-width: 320px) {
 
}

