.partners-container2{
    background:linear-gradient(90deg, #d19efa,#efe3fd );
    background:linear-gradient(90deg, #854cb4,#a070d6 );
    background: linear-gradient(90deg, #673AB7, #512DA8);

    margin-bottom: 6rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.partners-container2 h1{
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
}
.partners{
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    border-radius: 1rem;
}
.partners img{
    padding-bottom: 2rem;
}
@media  (max-width: 1200px) {
 
}
@media  (max-width: 1024px) {
 
}

@media  (max-width: 900px) {

}
@media  (max-width: 786px) {
    .partners-container2 h1{
        font-size: 2.5rem;
    }
}
@media  (max-width: 480px) {
    .partners-container2 h1{
        font-size: 2rem;
    }
    .partners img{
        width: 10rem;
    }
}
@media  (max-width: 320px) {
 
}

