@font-face {
    font-family: 'Robot Invaders';
    src:url(../../fonts/RobotInvaders-d9VmR.ttf) 
  } 
@font-face {
    font-family: 'Alien';
    src:url(../../fonts/AlienRavagerItalic-4B214.ttf) 
  }
  @font-face {
    font-family: 'tarrget';
    src:url(../../fonts/Azonix-1VB0.otf) 
  } 
.foot-container{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    /* background: linear-gradient(90deg, #512DA8, #673AB7); */
    background:linear-gradient(90deg, #854cb4,#a070d6 );
    background: linear-gradient(90deg, #673AB7, #512DA8);


}
.foot-container div{
    margin-bottom: 2rem;
}
.foot-info{
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color:white;
    justify-content: space-around;
}

.foot-logo img{
    padding: 1rem;
    width: 30rem;
    flex: 2;
    /* box-shadow: #7643a0 0px 3px 7px; */
}
.foot-contact{
    font-family: Helvetica, sans-serif;
}
.foot-contact h1{
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 20px;
}
.foot-contact p{
    color: rgba(255, 255, 255, 0.774);
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}
.foot-about{
    color: rgba(255, 255, 255, 0.774);
    font-size: 1rem;
    padding: 0 4rem;
}
.foot-about h1{
    color: white;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-size: 20px;
}
.developer{
   align-self:center;
   color:white;
   padding-bottom:0rem;
   font-family:"Poppins"
}

/* @media  (max-width: 1121px) {
    .s-link{
        margin: 0 2rem;
    }
    
  }
  @media  (max-width: 950px) {
    .foot-logo img{
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    .developer{
        font-size: 0.8rem;
      }
    .social-med .first-container{
        display: block;
        justify-content: space-between;
    }
    .social-med .second-container{
        display: block;
        justify-content: space-between;
    }
  }
  @media  (max-width: 390px) {
 .foot-logo img{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

} */







