.showcase-container2{
    height: 40vh;
    background:linear-gradient(90deg, #854cb4,#a070d6 );
    /* background:linear-gradient(90deg, #d19efa,#efe3fd ); */
    margin-bottom: 6rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.showcase-container2 h1{
    text-align: center;
    font-size: 3rem;
    color: white;
}
.partners{
    display: flex;
    align-items: center;
    justify-content: space-around;
}